<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DailyInfoSoap"/>
                <binding name="DailyInfoSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx" binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap" contract="BankService.DailyInfoSoap" name="DailyInfoSoap"/>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx" binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap1" contract="MyBankService.DailyInfoSoap" name="DailyInfoSoap1"/>
        </client>
    </system.serviceModel>
</configuration>
